h1{
    color: rgb(35, 169, 223);
}

img{
    width: 400px;
}

#thirdDiv{
    height: 500px;
    width: 600px;
    background-color: green;
    padding: 50px;
    border: 10px solid blue;
}
#spanId{
    margin:50px;
    font-size: 18px;
}